.dummy{
	color : black;
}
.parent{
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
	color: white;
	font-weight: bold;
	border-radius: 0.5rem;
	text-align: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	cursor: pointer;
	height: 2rem;
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}